.skillSelection {
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  padding-bottom: 10px;
}

.demonSelection {
  padding-bottom: 10px;
}

.innateSkill {
  background-color: honeydew;
}

.maxResults {
  max-width: 150px;
}
