.skillSelection {
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  padding-bottom: 10px;
}

.demonSelection {
  padding-bottom: 10px;
}

.innateSkill {
  background-color: honeydew;
}

.excludedDemonSelection {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
