.centeredContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.demonTableContents {
  display: block;
}

.demonTable {
  border: 2px solid black;
  border-collapse: collapse;
}

.demonTableRow {
  border-top: 1px solid blue;
}

.demonTableRow:nth-child(even) {
  background-color: #CCC;
}

.demonTableRow:nth-child(odd) {
  background-color: #FFF;
}

.demonTableCell,
.demonTableHeader {
  border-right: 1px dotted blue;
  padding-right: 20px;
  text-align: start;
}

.demonTableHeader:hover {
  cursor: pointer;
}

.demonTableHeader {
  background-color: grey;
}
