.partialWidthContainer {
  width: 50%;
  margin: auto;
  margin-bottom: 5px;
}

.demonTable {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

.demonTableRow {
  border-top: 1px solid blue;
}

.demonTableRow:nth-child(even) {
  background-color: #ccc;
}

.demonTableRow:nth-child(odd) {
  background-color: #fff;
}

.demonTableCell,
.demonTableHeader {
  border-right: 1px dotted blue;
  padding-right: 20px;
  text-align: start;
}

.demonTableHeader:hover {
  cursor: pointer;
}

.demonTableHeader {
  background-color: grey;
}
