.filter {
  width: 45%;
  margin: auto;
  margin-bottom: 5px;
}

.fusionCombinations {
  width: 45%;
  margin: auto;
}

.fusionCombinationsSpecialFusion {
  width: fit-content;
  margin: auto;
}

.fusionCombinationsTable {
  border: 2px solid black;
  border-collapse: collapse;
}

.fusionRow {
  border-top: 1px solid blue;
}

.fusionRow:nth-child(even) {
  background-color: #ccc;
}

.fusionRow:nth-child(odd) {
  background-color: #fff;
}

.fusionCombinationsCell,
.fusionCombinationsHeader {
  border-right: 1px dotted blue;
  padding-right: 20px;
  text-align: start;
}

.fusionCombinationsHeader {
  background-color: grey;
}
