.App {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.contents {
  display: block;
}

.demonTable {
  border: 2px solid black;
  border-collapse: collapse;
}

.demonTableRow {
  border-top: 1px solid blue;
}

.demonTableRow:hover {
  background-color: grey;
}

.demonTableCell,
.demonTableHeader {
  border-right: 1px dotted blue;
  padding-right: 20px;
  text-align: start;
}

.demonTableHeader:hover {
  cursor: pointer;
}

.demonTableHeader {
  background-color: grey;
}
