.partialWidthContainer {
  width: 50%;
  margin: auto;
  margin-bottom: 5px;
}

.demonTable {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
}

.demonTableRow {
  border-top: 1px solid blue;
}

.demonTableRow:nth-child(even) {
  background-color: #ccc;
}

.demonTableRow:nth-child(odd) {
  background-color: #fff;
}

.demonTableCell,
.demonTableHeaderSecondTier,
.demonTableHeaderTopTier {
  border-right: 1px dotted blue;
  padding-right: 20px;
  text-align: center;
}

.demonTableHeaderSecondTier:hover {
  cursor: pointer;
}

.demonTableHeaderSecondTier {
  background-color: grey;
}

.demonTableHeaderTopTier {
  background-color: darkgray;
}

.demonTableHeader {
  position: sticky;
  top: 0;
}

.repel {
  color: darkblue;
}

.absorb {
  color: greenyellow;
}

.null {
  color: grey;
}

.resist {
  color: darkolivegreen;
}

.weak {
  color: red;
}
